[submodule "ros2rust_ws/src/ros2_rust"]
	path = ros2rust_ws/src/ros2_rust
	url = https://github.com/ros2-rust/ros2_rust.git
[submodule "microros_ws/src/micro_ros_setup"]
	path = microros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "microros_ws/src/rfm9x"]
	path = microros_ws/src/rfm9x
	url = git@github.com:cpspacesystems/ros2-rfm9x.git
